{% extends 'base.html.twig' %}

{% block body %}
    <div class="row ">
        <section class="col s12 m8 offset-m2">
            <header><h2>Editer un article</h2></header>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </section>
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/newpost.js') }}"></script>
{% endblock %}
