{% extends 'posts/post_base.html.twig' %}

{% block list %}
    <header><h2>{{article.title}}</h2></header>

    <article class="card">
        <div class="card-content">
            <p>{{article.content|raw}}</p>
        </div>

</article>
{% endblock %}

{% block aside %}     
    {% if is_granted('ROLE_ADMIN') %}
        <div class="collection" id="art_panel">
            <a href="{{path('post_edit',{'slug': article.slug})}}" class="collection-item">Editer</a>
            <a id="art_delete" href="#modal1" class="collection-item red-text">Supprimer</a>
</div>
<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Attention !</h4>
      <p>Voulez vous vraiment supprimer l'article ?</p>
    </div>
    <div class="modal-footer">
      <a href="{{path('post_delete', {'slug': article.slug})}}" class=" modal-action modal-close waves-effect waves-green btn-flat">Oui</a>
      <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">Non</a>
    </div>
  </div>
    {% endif %}
    {{ parent() }}
{% endblock %}

 {% block javascripts %}
 			{{ parent() }}
            <script src="{{ asset('js/admin_panel.js') }}"></script>
 {% endblock %}
