{% extends 'posts/post_base.html.twig' %}
{% block title %}{{article.title}}{% endblock %}

{% block list %}
    <header><h2>{{article.title}}</h2></header>
    <article class="card">
        <div class="card-content">
            <p>{{article.content|raw}}</p>
        </div>

</article>
{% endblock %}

{% block aside %}     
    {% if is_granted('ROLE_ADMIN') %}
        <div class="collection" id="art_panel">
            <a href="{{path('EditAction',{'slug': article.slug})}}" class="collection-item">{{ 'Edit'|trans }}</a>
            <a id="art_delete" href="#modal1" class="collection-item red-text">{{ 'Delete'|trans }}</a>
</div>
<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>{{ 'Warning !'|trans }}</h4>
      <p>{{ 'Are you sure you want to delete this article ?'|trans }}</p>
    </div>
    <div class="modal-footer">
      <a href="{{path('DeleteAction', {'slug': article.slug})}}" class=" modal-action modal-close waves-effect waves-green btn-flat">{{ 'Yes'|trans }}</a>
      <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">{{ 'No'|trans }}</a>
    </div>
  </div>
    {% endif %}
    {{ parent() }}
{% endblock %}

 {% block javascripts %}
 			{{ parent() }}
            <script src="{{ asset('js/admin_panel.js') }}"></script>
 {% endblock %}
