<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
		<link href="{{ asset('css/materialize.css') }}" rel="stylesheet" />
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
	
  	<nav>
    <div class="nav-wrapper blue">
      <a href="#" class="brand-logo"><span class="red-text">Goat</span>Busters</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Suck</a></li>
        <li><a href="badges.html">My</a></li>
        <li><a href="collapsible.html">Goat</a></li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <li><a href="collapsible.html">{{app.user.username}}</a></li>
          <li> <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
        {% else %}
		<li> <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
		<li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
        {% endif %}
      </ul>
    </div>  
	</nav>
    <body>   
	<div class="container">
		{% block body %}
		{% endblock %}
	</div>
    {% block javascripts %}
		<script src="{{ asset('js/materialize.min.js') }}"></script>
		<script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
	{% endblock %}
    </body>
</html>

